nav {
	width: 100%;
	max-height: 120px;

	display: flex;
	justify-content: space-between;
	padding: 2rem 4rem;
	
	background-color: var(--color-orange);
}

nav b {
	font-size: 3rem;
	color: white;
}

nav img {
	flex-shrink: 1;
}

main {
	margin-top: 70px;
}
